<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.powerflasher.fdt.ui.MxmlcGroup">
<stringAttribute key="ADL_ARGUMENTS" value=""/>
<stringAttribute key="ADL_DESCRIPTOR_FILE" value=""/>
<intAttribute key="AIR_VIEWER_CONF" value="0"/>
<stringAttribute key="APP_ARGUMENTS" value=""/>
<stringAttribute key="ARGUMENTS" value="-target-player={playerVersion}&#10;-library-path+=&quot;{flexSDK}/frameworks/locale/en_US&quot;&#10;-default-size=550,400"/>
<stringAttribute key="EXCLUDED_PACKAGES_LIST" value=""/>
<booleanAttribute key="FILTER_INTERNAL_PACKAGES" value="true"/>
<stringAttribute key="INCLUDED_PACKAGES_LIST" value="com.settinghead.wexpression.client,com.settinghead.wexpression.client.angler,com.settinghead.wexpression.client.colorer,com.settinghead.wexpression.client.density,com.settinghead.wexpression.client.fonter,com.settinghead.wexpression.client.model,com.settinghead.wexpression.client.model.business,com.settinghead.wexpression.client.model.business.services,com.settinghead.wexpression.client.model.vo,com.settinghead.wexpression.client.model.vo.template,com.settinghead.wexpression.client.model.vo.wordlist,com.settinghead.wexpression.client.nudger,com.settinghead.wexpression.client.placer,com.settinghead.wexpression.client.sizers"/>
<booleanAttribute key="KILL_PREVIOUS_VIEWER" value="true"/>
<stringAttribute key="LAUNCHER_DEPENDENCIES" value="[Self]"/>
<stringAttribute key="MAIN_CLASS" value="src/main/flex/com/settinghead/wexpression/client/WexpressionClient.mxml"/>
<booleanAttribute key="MEMORY_PROFILING" value="false"/>
<booleanAttribute key="MEMORY_PROFILING_STACKDATA" value="true"/>
<stringAttribute key="MOBILE_PRESET" value=""/>
<stringAttribute key="OUTPUT" value="/Users/settinghead/wexpression/wexpression/WebContent/resources/flash/WexpressionClient.swf"/>
<booleanAttribute key="PASS_CP" value="true"/>
<booleanAttribute key="PASS_EXTERNS" value="false"/>
<booleanAttribute key="PASS_MAIN_CLASS" value="true"/>
<booleanAttribute key="PASS_RSLS" value="false"/>
<booleanAttribute key="PASS_SWCS" value="true"/>
<booleanAttribute key="PERFORMANCE_PROFILING" value="true"/>
<booleanAttribute key="PERFORMANCE_PROFILING_CLEAR_DATA" value="false"/>
<intAttribute key="PERFORMANCE_PROFILING_CLEAR_DATA_TIME" value="3"/>
<intAttribute key="PLAYER_HEIGHT" value="400"/>
<intAttribute key="PLAYER_WIDTH" value="550"/>
<stringAttribute key="POST_COMPILE_ANT" value=""/>
<stringAttribute key="PRE_COMPILE_ANT" value=""/>
<booleanAttribute key="PROFILER_FILTER_INTERNAL_ACTIONS" value="false"/>
<booleanAttribute key="PROFILER_FILTER_NATIVES" value="false"/>
<stringAttribute key="PROJECT_NAME" value="wexpression-flash"/>
<stringAttribute key="PUBLISHER_ID" value=""/>
<booleanAttribute key="START_SWF_ENABLED" value="true"/>
<stringAttribute key="START_SWF_LOCATION" value="http://localhost:8080/wexpression/"/>
<stringAttribute key="START_SWF_WITH" value="Browser"/>
<booleanAttribute key="USE_PROJECT_COMPILER_ARGUMENTS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/wexpression-flash"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
