<select>
  <option>my Facebook profile</option>
  <option>a friend's Facebook</option>
	<!-- <option disabled="disabled">a twitter account (soon)</option>
	<option disabled="disabled">a web page (soon)</option>
	<option disabled="disabled">a Facebook page (soon)</option> -->
</select>


<!-- <div class="dropdown">
  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
    Dropdown
    <b class="caret"></b>
  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
  </ul>
</div> -->