<span class="like-count"><%=template.likes.size%></span>&nbsp;
<%if current_user%>
<%= link_to_unless  ((not current_user) || (current_user.voted_for? template)), 'Like', like_template_path(template),:remote=>true do
  link_to_if current_user, 'Unlike', unlike_template_path(template),:remote=>true
end%>
<%end%>