
<h1>Listing templates</h1>
<%= link_to 'Create New Template', new_template_path, {:class=>'create-button'} %>

<div class="masonry-container">
	<% @templates.each do |template| %>
	<div class="item">
		<%= link_to(image_tag(ENV['TEMPLATE_PREVIEW_URL']+template.uuid+'.png')+ '"'+template.name+'"', template) %>
		
		<div class="tools">
			<%= link_to 'Destroy', template, confirm: 'Are you sure?', method: :delete %>
		</div>
	</div>
	<% end %>
</div>

