<%
set_meta_tags :title => 'Designing a new Tyful template'
set_meta_tags :description => "All text about keywords, other keywords"
%>

<%=content_for :header do%>
<h1>Designing a New Template</h1>
<%end%>
<%= render 'form' %>

<%= link_to 'Back', templates_path %>
