<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/as32j/src/AS32J.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="AS32J"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="../wexpression-flash/src/main/flex/com/settinghead/wexpression/client/model/vo/BBPolarChildTreeVO.as"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="as32j"/>
</launchConfiguration>
