body {
  color: #333;
  font-size: 13px;
  margin: 0;
  padding: 0;
  font-family: Verdana, Helvetica, Arial;
  font-size: 12px;
}

h1{
    margin: 5px;
	margin-top: 15px;
	margin-left: 20px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; 
}

a {
  color: #000000;
  &:visited {
    color: #666; 
  }
  &:hover {
    color: #fff;
    background-color: #000; 
  }
  img{
  	border: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px; 
  }
}

#notice {
  color: green; 
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
  margin: 0 auto;
  background-color: #FFF;
  
  height: 80%;
}

#flash_notice, #flash_error, #flash_alert {
  clear: both;
  padding: 5px 8px;
  margin: 10px 0;
  width: 400px;
}


.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; 
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; 
  }
  ul li {
    font-size: 12px;
    list-style: square; 
  }
}

#header{
    margin-left: 170px;
}

#main_menu{
    display: inline;
	float:right;
    display: inline;
    list-style: none;
	li{
	  display: inline;
	}
	margin: 0px;
	padding: 0px;
	margin-right: 10px;
}


#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 10px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #FFBD4A;
  color: #fff;
}


.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}

#user_nav {
  float: right;
  margin-bottom: 10px;
  display: inline;
}

#logo_bar{
	background-color: #ffffff;

	float: left;
	margin-right: 30px;
	margin-left: 10px;
	margin-bottom: 4px;
	margin-top: 4px;
	padding: 2px;
    text-align: center;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-width: 1px;
	border-style: dashed;
	border-color:gray;
	-moz-box-shadow: 3px 5px 3px gray;
	-webkit-box-shadow: 3px 3px 3px gray;
	box-shadow: 3px 3px 3px gray;
	z-index: 99999;
}


#logo_bar #logo .main{
	color: #0559CC;
	font-size: 25px;
	line-height: 23px;
	font-weight: bold;
	font-family: Lucidatypewriter, monospace;
	clear: both;
}

#logo_bar #logo .domain{
	font-size: 14px;
}

#logo_bar #tagline{
	font-size: 9px;
}

.authentications {
  margin-bottom: 30px;
}

.authentication {
  width: 130px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin-right: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -moz-border-radiuskit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.authentication .uid {
  color: #666;
  font-size: 11px;
}

.auth_provider img {
  display: block;
}

.auth_provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

