// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#container {
  margin-top: 0px;
  margin-bottom: 0px;
  height: 100%;
}

#modal{
  display: none;
}

.masonry-container{
  .item {
    margin: 5px;
    padding: 5px;
    background: #D8D5D2;
    font-size: 11px;
    line-height: 1.4em;
    float: left;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	.tools{
	    float: right;
	}
    img{
	  max-width: 240px;
	}
    width: 240px;
    margin: 10px;
    float: left;
  }
}