// Place all the styles related to the templates controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/*
*= require isotope
*/


#container {
	margin-top: 0px;
	margin-bottom: 0px;
	height: 100%;
}
body, #container{
	background-color: #aaa;
}
.polaroid {
	position: relative;
	width: 220px;
	margin: 20px;
}

.polaroid img {
	border: 10px solid #fff;
	border-bottom: 45px solid #fff;
	-webkit-box-shadow: 3px 3px 3px #777;
	-moz-box-shadow: 3px 3px 3px #777;
	box-shadow: 3px 3px 3px #777;
}

.polaroid p {
	position: absolute;
	text-align: center;
	width: 100%;
	bottom: 0px;
	font: 400 18px/1 'Kaushan Script', cursive;
	color: #888;
}


#intro-image{
	margin: auto;
	text-align: center;
	width: 100%;
	display: block;
	margin-top: 15px;
	margin-bottom: 10px;
}

h1{
	display:inline;
}
#modal{
	display: none;
}

.masonry-container{
	
	margin-left: 20px;
	.item {
		text-align: center;
		.inner{
			font-size: 12px;
			width: 220px;
			background-color: #fff;
			img{
				max-width: 200px;
				border: 0px;
				border-right: 1px;
				border-style: solid;
				border-color: #eee;
				margin: 10px;
			}
			.tools{
				display: inline;
			}
			
			.label-area{
				padding: 10px;
				background-color: #eee;
				
				width: 200px;
			}
		}
	}
	
	.box .inner
	{
		background-color: #fff;
		-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 10px rgba(0, 0, 0, 0.1);
	}

	.box
	{
		margin: 5px;
		margin-top: 10px;
		margin-bottom: 5px;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		width: 220px;
	} 

	
}



#flashContent, #noscriptFlashWrapper{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}


.template{
	a{
		text-decoration: none;	
	}
	a:hover{
		background-color: transparent;
		color: #333;
	}

	h3{
		display: block;
		font-size: 16px;
	}
	.author{
		clear: left;
	}
}

.emote{
	margin: 5px;
	margin-top: 15px;
	display: inline;
	.like-count{
		font-size: 18px;
		padding-left: 22px;
		background-image: image-url("like_icon.png");
		background-position: 0% 50%;
		background-repeat: no-repeat;
	}
	font-size: 18px;
	a{
		background-color: #eee;
		border-style: solid;
		border-width: 1px;
		border-color: #ccc;
		border-radius: 5px;
		padding: 3px;
	}
	.fb-like{
		display: inline;
	}
}


.create-button {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
	font-size:29px;
	font-weight:700;
	padding:2px 20px;
	text-decoration:none;
	text-shadow:1px 1px 0px #528009;
}

.create-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}
.create-button:active {
	position:relative;
	top:1px;
}
.create-button:visited {
	color:#ffffff;
}

#draw{
	background-color: #eee;
}

#tyfulTabs{
	margin-bottom: 0px;
	li
	{
		a{
			color: #fff;
		}
		a:hover{
			color: #000;
		}
	}
	li.active{
		a{
			color: #000;
		}
	}
}

#renderpreview-container{
	#renderpreview {
	background-color:#ffffff; 
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width:auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	position: relative;
	// z-index:200;
	display: block;
	}
	width:auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.zoomtransition{
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	box-shadow:0px 4px 6px #444444;
}

#renderpreview:hover, #renderpreview.hover_effect:hover {
	/* One transform entry for each different brower.  Firefox needs px in the last two entries */
	-moz-transform:    matrix(1.050, 0.000, 0.000, 1.050, 0.000px, 0.000px);
	-webkit-transform: matrix(1.050, 0.000, 0.000, 1.050, 0.000, 0.000);
	-o-transform:      matrix(1.050, 0.000, 0.000, 1.050, 0.000, 0.000);
	transform:         matrix(1.050, 0.000, 0.000, 1.050, 0.000, 0.000);

	/* The transform origin is needed to place the transformed object in the right place. */
 // transform-origin: -100.0px 0.0px;

}

#mainCanvas{
	overflow:scroll; 
	width: 100%; height: 100%; display:inline-block;	
	margin-left: 20px;
	.tools { margin-bottom: 10px; 
		a {
			border: 1px solid black; height: 30px; line-height: 30px; padding: 0 10px; vertical-align: middle; text-align: center; text-decoration: none; display: inline-block; color: black; font-weight: bold;
		}

		position: fixed; bottom: -20px; left: 0px; background-color: #eeeeee; padding: 10px; padding-bottom: 30px;
		-webkit-box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
		-khtml-box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
		-moz-box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
		-ms-box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
		-o-box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
		box-shadow: rgba(0,0,0,0.2) 0px 2px 3px, inset rgba(0,0,0,0.2) 0px -1px 2px;
		-webkit-border-radius: 20px;
		-khtml-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		border-radius: 20px;
		opacity:0.4;
		filter:alpha(opacity=40); /* For IE8 and earlier */
	}
	.tools:hover{
		opacity:1.0;
		filter:alpha(opacity=100); /* For IE8 and earlier */
	}
}

#renderer{
	background-color: #fff;
}

#shopping-area{
	padding: 10px;
}

canvas.shopping-window{
	width: 100%;
	height: auto;
	background-color: #fff;
	box-shadow:0px 4px 6px #444444;
}
canvas.shopping-window:hover{
	-moz-transform:    matrix(1.200, 0.000, 0.000, 1.200, 0.000px, 0.000px);
	-webkit-transform: matrix(1.200, 0.000, 0.000, 1.20, 0.000, 0.000);
	-o-transform:      matrix(1.200, 0.000, 0.000, 1.20, 0.000, 0.000);
	transform:         matrix(1.200, 0.000, 0.000, 1.20, 0.000, 0.000);
}

#color {
	border:1px #000 solid;
	box-shadow:0px 4px 6px #444444;
	cursor:crosshair;
}

#preview, #pick {
	border:1px #000 solid;
	box-shadow:2px 3px 3px #444444;
	height:40px;
	width:40px;
	display: inline-block;

	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}


/* This imageless css button was generated by CSSButtonGenerator.com */