<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_31" class="java.beans.XMLDecoder"> 
 <object class="secureSWF.userSettings.GuiSettings"> 
  <void property="adtPath"> 
   <string></string> 
  </void> 
  <void property="defaultBrowser"> 
   <string></string> 
  </void> 
  <void property="generateMapFile"> 
   <boolean>false</boolean> 
  </void> 
  <void property="ignoreSaveOnExit"> 
   <boolean>false</boolean> 
  </void> 
  <void property="lafClassName"> 
   <string>com.apple.laf.AquaLookAndFeel</string> 
  </void> 
  <void property="locale"> 
   <object class="java.util.Locale"> 
    <string>en</string> 
    <string>US</string> 
   </object> 
  </void> 
  <void property="outputOption"> 
   <int>0</int> 
  </void> 
  <void property="outputParameter"> 
   <string>/Users/settinghead</string> 
  </void> 
  <void property="preventLocalExecution"> 
   <boolean>false</boolean> 
  </void> 
  <void property="projectRecoveryEnabled"> 
   <boolean>true</boolean> 
  </void> 
  <void property="recentProjectsCount"> 
   <int>5</int> 
  </void> 
  <void property="safeExit"> 
   <boolean>false</boolean> 
  </void> 
  <void property="saveWindowOptions"> 
   <boolean>true</boolean> 
  </void> 
  <void property="suppressWarnings"> 
   <boolean>true</boolean> 
  </void> 
  <void property="updateOnStartup"> 
   <boolean>true</boolean> 
  </void> 
  <void property="uuid"> 
   <string>e6821c31-d495-4d16-9358-a3b7acb88da8</string> 
  </void> 
  <void property="windowLocation"> 
   <object class="java.awt.Point"> 
    <int>21</int> 
    <int>45</int> 
   </object> 
  </void> 
  <void property="windowSize"> 
   <object class="java.awt.Dimension"> 
    <int>1083</int> 
    <int>755</int> 
   </object> 
  </void> 
 </object> 
</java> 
